---
import { cn } from '@/lib/utils'

interface Props {
  href: string
  underline?: boolean
  external?: boolean
  class?: string
}

const {
  href,
  underline = true,
  external = false,
  class: className
} = Astro.props
---

<a
  href={href}
  class={cn(
    'transition-colors duration-300 ease-in-out',
    underline &&
      'underline underline-offset-2 decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 dark:hover:decoration-white/50',
    'hover:text-black dark:hover:text-white',
    className
  )}
  {...external && { target: '_blank', rel: 'noopener noreferrer' }}
>
  <slot />
</a>
